*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #2F4F4F;
    text-align: center;
    justify-content: center;
}
h1{
    margin: 5% 35%;
    padding: 2%;
    border-color: black;
    border-width: 12%;
    border-style: solid;
    width: 30vw;
    font-size: 3rem;
    background-color: 	#008B8B;
}
form{
    position: relative;
    background-color: black;
    color: antiquewhite;
    width: 40%;
    margin: auto;
    height: 20%;
    padding: 2.5%;
    line-height: 2;
    font-size: 20px;
}
form input{
    padding: 1% 12%;
    margin: 10px 20px;
    width: 70%;
}

form p {
    margin-right: 2px;
    text-align: left;
}
input[type='submit']{
    margin: 15%;
    padding: 20px 30px;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    width: 50%;
}